// =====================================
// Main content for the default layout
// =====================================
@use "responsiveness" as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --content-max-width: 100%;
  @include bp(tablet) {
    --content-max-width: 860px;
  }
  @include bp(desktop) {
    --content-max-width: 1100px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  .logo {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 54px;
    font-style: normal;
    font-weight: 450;
  }
}

main {
  flex: 1;
}

footer {
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid black;
}


