// Design tokens and shared CSS variables
@import "abstracts/breakpoints";

:root {
  --content-max-width: 100%;

  @include bp(tablet) {
    --content-max-width: 860px;
  }

  @include bp(desktop) {
    --content-max-width: 1100px;
  }
}
