.post {
  padding: 32px 24px;
  .title, .published-at {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }
  .title {
    line-height: 24px;
  }

  .content {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }
}
